body
{
    font-size: 20px;
    font-family:tahoma;
    background-color: #F0F2F5;
}

.header
{
    background-color: #fff;
    border:5px #fff solid;
    width: 375px;
    height: 345px;
    margin-left: 380px;
    margin-top: 0px;
    box-shadow:  2px 2px 7px #DDDFE2;
    border-radius: 5px/5px;
}


h1
{ 
    color:#1877F2;
    margin-left: 480px ;
}
input
{   
    font-size: 19px;
    margin-left: 10px;
	margin-top: 15px;
	height: 50px;
	width: 340px;
    border-radius: 5px/5px;
	box-shadow:  2px 2px 7px #F0F2F5;
    border:2px solid #DDDFE2;
	
}

.noname
{  
    font-family: Helvetica  ;
    font-size: 25px;
    color:#FFFFFF;
    background-color:#1877F2;
}

a
{
    text-decoration: none;
    color: #1877F2;
    font-size: 14px;
}